<p>update-data works!</p>
<div>
    <form [formGroup]="updateform" (ngSubmit)="updatecmpdata()")>
    <table align="center" style="border: 2; background-color: burlywood; text-align: center; color:red;">
        <tr><td>Id </td> <td><input type="text" placeholder="Company Id" formControlName="id"></td></tr>
        <tr><td>Company Name</td> <td><input type="text" placeholder="Company Name" formControlName= "cname"></td></tr>
        <tr><td>Mail Id </td> <td><input type="text" placeholder="Company Mail ID" formControlName="email"></td></tr>
        <tr><td>Mobile</td> <td><input type="text" placeholder="mobile" formControlName="mobile"></td></tr>
        <tr><td>Details </td> <td><input type="text" placeholder="company Location" formControlName="clocation"></td></tr>
        <tr><td>Type </td> <td><input type="text" placeholder="company type" formControlName="ctype"></td></tr>
        <tr><td>Person </td> <td><input type="text" placeholder="contact person" formControlName="cperson"></td></tr>
        <tr><td><button type="button" (click)="back()">back</button> </td> <td><button type="submit" [disabled]="false">update</button> </td></tr>
    </table>
</form>
    </div>