<nav class="navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Mini-Project</a>
    <ul class="navbar-nav">
      <li class="nav-item"> 
        <a class="navbar-brand" routerLink="Employee"> Employee </a>
        <a class="navbar-brand" routerLink="Company"> Company </a>
        <a class="navbar-brand" routerLink="AboutUS"> About Us </a>
        <a class="navbar-brand" routerLink="Dashboard"> Dashboard </a>
        <a class="navbar-brand" routerLink="ContactUs"> Contact-Us</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>