<p>employee-details works!</p>
<div>
<table align="center" style="border: 2; background-color: burlywood; text-align: center; color:red;">
    <tr><td>Id </td> <td><input type="text" [value]=emp1.id></td></tr>
    <tr><td> Name</td> <td><input type="text" [value]=emp1.uname></td></tr>
    <tr><td>Mail Id </td> <td><input type="text" [value]=emp1.umail></td></tr>
    <tr><td>Mobile</td> <td><input type="text" [value]=emp1.mobile></td></tr>
    <tr><td>Designation </td> <td><input type="text" [value]=emp1.designation></td></tr>
    <tr><td>UserName </td> <td><input type="text" [value]=emp1.username></td></tr>
    <tr><td>Password </td> <td><input type="text" [value]=emp1.password></td></tr>
    <tr><td><button type="button" (click)="back()">back</button> </td> <td><button type="button" [disabled]="true">update</button> </td></tr>
</table>
</div>